@media only screen and (max-width: 600px) {
    
    div.listContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
    }
    div.listSearch{
        color: white;
        background-color: #1d3453;
        border-radius: 10px;
        position: relative;
        margin-top: -25px;
        overflow: hidden;
        height: max-content;
        width: 90%;
        display: flex;
        flex-direction: column;
    
        
    }
    div.listWrapper{
        width: 100%;
        max-width: 1024px;
        display: flex;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.lsItem{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;
        
    }
    .listResult{
        display: flex;
        flex-direction: column;
        
    }
    
    
  }


.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
}

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch{
    color: white;
    flex:1;
    background-color: #1d3453;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.lsTitle{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem>label{
    font-size: 12px;
}

.lsItem>input{
    color: gray;
    height: 30px;
    border: none;
    padding: 5px;
    
}
.lsItem>span{
    height: 30px;
    background-color: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: gray;
}

.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
    font-size: 12px;
}

.lsOptionInput{
    width: 50px;
}

.lsOptions{
    padding: 10px;
}

.listSearch>button{
    padding: 10px;
    background-color: #da4244;
    border: none;
    color: white;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.listResult{
    flex:3;
}