@media only screen and (max-width: 600px) {
    div.header{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 10px;
    }
    div.headerSearch{
        height: 15px;
        background-color: #fff;
        border: 3px solid #da4244;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0px;
        border-radius: 5px;
        position: absolute;
        bottom: -25px;
        width: 90%;
        max-width: 1024px;
        margin-left: 15px;
    }
    span.headerSearchText{
        display: none;
    }
    button.headerBtn{
        height: 30px;
        
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        font-weight: bold;
        width: max-content;
    }

    div.date{
        position: absolute;
        left: 0;
        z-index: 2;
    }
    div.options{
        z-index: 2;
        position: absolute;
        right: 0;
        background-color: #fff;
        color: gray;
        border-radius: 5px;
        box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
        -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
    }
    div.headerList{
        display: flex;
        gap: 10px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    div.headerSearchItem{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    div.headerContainer.listMode{
        margin: 20px 0px 0px 0px;
        width: 100%;
    }
  }

.header{
    background-color: #1d3453;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode{
    margin: 20px 0px 0px 0px;
}

.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    background-color: #da4244;
}

.headerDesc{
    margin: 20px 0px;
}

.headerBtn{
    background-color: #da4244;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.headerBtnSign{
    background-color: #da4244;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.headerSearch{
    height: 30px;
    background-color: #fff;
    border: 3px solid #da4244;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 80%;
    max-width: 1024px;
}

.headerIcon{
    color: lightgray;
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput{
    border: none;
    outline: none;
}

.headerSearchText{
    color: lightgray;
    cursor: pointer;
}

.date{
    position: absolute;
    top: 50px;
    z-index: 2;
}

.options{
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: #fff;
    color: gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
}

.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid #1d3453;
    color: #1d3453;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}

.optionCounterButton:disabled{
    cursor: not-allowed
}

