@media only screen and (max-width: 600px) {
    div.mailInputContainer>input{
        width: 300px;
        height: 30px;
        padding: 10px;
        border: none;
        margin-right: 10px;
        border-radius: 5px;
        display: flex;
    }
    .mailInputContainer>button{
        height: 50px;
        background-color: #da4244;
        font-weight: 500;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        
    }
    div.mailInputContainer{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    
  }

.mail{
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    background-color: #1d3453;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0px 50px 0px;
}


.mailInputContainer>input{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
}

.mailInputContainer>button{
    height: 50px;
    background-color: #da4244;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}